<header id="header" class="site-header cta_button" data-header-style="1">
  <div class="kl-header-bg"></div>

  <div class="site-header-wrapper">
    <!-- Header Top wrapper -->
    <div class="site-header-top-wrapper">
      <!-- Header Top container -->
      <div class="siteheader-container container">
        <!-- Header Top -->
        <div class="site-header-row site-header-top d-flex justify-content-between">
          <!-- Header Top Left Side -->
          <div class="site-header-top-left d-flex">
            <!-- Header Top Social links -->
            <ul class="topnav social-icons sc--clean align-self-center">
              <li>
                <a href="https://linkedin.com/in/rbtlong" target="_blank" title="LinkedIn">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="https://medium.com/@rbtlonger" target="_blank" title="Medium">
                  <i class="fab fa-medium-m"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/rbtlong" target="_blank" title="GitHub">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://stackoverflow.com/users/1784242/rbtlong" target="_blank" title="StackOverflow">
                  <i class="fab fa-stack-overflow"></i>
                </a>
              </li>
            </ul>
            <!--/ Header Top Social links -->

            <div class="clearfix visible-xxs">
            </div>

            <!-- Top Header contact text -->
            <div class="kl-header-toptext align-self-center">
              <a href="/res/resume.docx" target="_blank" class="fw-bold">Resume</a>
            </div>
            <!--/ Top Header contact text -->
          </div>
          <!--/ .site-header-top-left -->

          <!-- Header Top Right Side -->
          <div class="site-header-top-right d-flex">
            <!-- header search -->
            <div id="search" class="header-search align-self-center">
              <a href="#" class="searchBtn "><span class="fas fa-search white-icon"></span></a>
              <div class="search-container">
                <form id="searchform" class="header-searchform" action="https://www.google.com/search" method="get" target="_blank">
                  <input id="q" name="q" maxlength="20" class="inputbox" type="text" size="20" value="SEARCH ..." onblur="if (this.value=='') this.value='SEARCH ...';" onfocus="if (this.value=='SEARCH ...') this.value='';">
                  <button type="submit" id="searchsubmit" class="searchsubmit fas fa-search white-icon"></button>
                </form>
              </div>
            </div>
            <!--/ header search -->
          </div>
          <!--/ .site-header-top-right -->
        </div>
        <!--/ .site-header-row .site-header-top -->

        <!-- Header separator -->
        <div class="separator site-header-separator"></div>
        <!--/ Header separator -->
      </div>
      <!--/ .siteheader-container .container -->
    </div>
    <!--/ Header Top wrapper -->

    <!-- Header Main wrapper -->
    <div class="site-header-main-wrapper d-flex">
      <!-- Header Main container -->
      <div class="siteheader-container container align-self-center">
        <!-- Header Main -->
        <div class="site-header-row site-header-main d-flex flex-row justify-content-between">
          <!-- Header Main Left Side -->
          <div class="site-header-main-left d-flex justify-content-start align-items-center">
            <!-- Logo container-->
            <div class="logo-container hasInfoCard logosize--yes">
              <!-- Logo -->
              <h1 class="site-logo logo" id="logo" style="font-size:1.45em; font-weight:bold;">
                <a href="/portfolio" title="" style="color: white !important; padding-left: 1em">
                  Portfolio
                </a>
              </h1>
              <!--/ Logo -->

            </div>
            <!--/ logo container-->

            <!-- Separator -->
            <div class="separator visible-xxs"></div>
            <!--/ Separator -->
          </div>
          <!--/ .site-header-main-left -->

          <!-- Header Main Center Side -->
          <div class="site-header-main-center d-flex justify-content-center align-items-center">
            <!-- Main Menu wrapper -->
            <div class="main-menu-wrapper">
              <!-- Responsive menu trigger -->
              <div id="zn-res-menuwrapper">
                <a href="#" class="zn-res-trigger "></a>
              </div>
              <!--/ responsive menu trigger -->

              <!-- Main menu -->
              <div id="main-menu" class="main-nav zn_mega_wrapper">
                <ul id="menu-main-menu" class="main-menu zn_mega_menu">
                  <li class="menu-item-has-children menu-item-mega-parent">
                    <a href="/portfolio">Works &amp; Projects</a>
                  </li>
                  <li class="menu-item-has-children menu-item-mega-parent">
                    <a href="/portfolio/skills">Skills &amp; Technologies</a>
                  </li>
                  <li class="menu-item-has-children menu-item-mega-parent">
                    <a href="/portfolio/articles">Articles</a>
                  </li>
                  <li class="menu-item-has-children menu-item-mega-parent">
                    <a href="/portfolio/about">about</a>
                  </li>
                </ul>
              </div>
              <!--/ Main menu -->
            </div>
            <!--/ .main-menu-wrapper -->
          </div>
          <!--/ .site-header-main-center -->

          <!-- Header Main Right Side -->
          <div class="site-header-main-right d-flex justify-content-end align-items-center">

            <!-- Call to action ribbon Free Quote (Contact form pop-up element) -->
            <!--                            <div class="quote-ribbon">
                                            <a href="#contact_panel" id="ctabutton" class="ctabutton kl-cta-ribbon" title="GET A FREE QUOTE" target="_self">
                                                <strong>FREE</strong>QUOTE
                                                <svg version="1.1" class="trisvg"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" preserveaspectratio="none" width="14px" height="5px" viewbox="0 0 14 5" enable-background="new 0 0 14 5" xml:space="preserve">
                                                        <polygon fill-rule="nonzero" points="14 0 7 5 0 0"></polygon>
                                                    </svg>
                                            </a>
                                        </div>-->
            <!--/ Call to action ribbon Free Quote (Contact form pop-up element) -->
          </div>
          <!--/ .site-header-main-right -->
        </div>
        <!--/ .site-header-row .site-header-main -->
      </div>
      <!--/ .siteheader-container .container -->
    </div>
    <!--/ Header Main wrapper -->
  </div>
</header>

<div id="page_header" class="page-subheader site-subheader-cst">
  <div class="bgback" style="background-image:url('/assets/images_custom/portfolio-back.jpeg')"></div>

  <div class="th-sparkles"></div>

  <div class="ph-content-wrap d-flex">
    <div class="container align-self-center">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <!-- Breadcrumbs -->
          <ul class="breadcrumbs fixclear">
            <li><a href="/">rbtlong.com</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
          </ul>
          <!--/ Breadcrumbs -->

          <div class="clearfix"></div>
        </div>
        <!--/ col-sm-12 col-md-6 col-lg-6 -->

        <div class="col-sm-12 col-md-6 col-lg-6">
          <!-- Sub-header titles -->
          <div class="subheader-titles">
            <h2 class="subheader-maintitle">Applications</h2>
            <h4 class="subheader-subtitle">Works &amp; Projects</h4>
          </div>
          <!--/ Sub-header titles -->
        </div>
        <!--/ col-sm-12 col-md-6 col-lg-6 -->
      </div>
      <!--/ row -->
    </div>
    <!--/ .container .align-self-center -->
  </div>

</div>

<section class="hg_section pt-80 pb-80">

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</section>

<footer id="footer" data-footer-style="3">
  <div class="container">


    <div class="row">
      <div class="col-sm-12">
        <div class="clearfix">
          <ul class="social-icons sc--clean clearfix">
            <li class="title">Social Media</li>
            <li><a href="https://www.facebook.com/rbtlonger" target="_blank" class="fab fa-facebook-f" title="Facebook"></a></li>
            <li><a href="https://www.youtube.com/channel/UC9FDIBZ3TA-nuV8htWn9n9Q" target="_blank" class="fab fa-youtube" title="YouTube"></a></li>
            <li><a href="https://medium.com/@rbtlonger" target="_blank" class="fab fa-medium" title="Medium Posts"></a></li>
            <li><a href="https://linkedin.com/in/rbtlong" target="_blank" class="fab fa-linkedin" title="LinkedIn Profile"></a></li>
          </ul>


          <div class="copyright">
            <a href="/" style="font-size: 1.35em; display: inline-block; margin-right: 2em;">
              rbt<b>Long</b>
            </a>

            <p style="display: inline-block;">
              © rbtLong.com 2020 All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
